<?xml version="1.0"?>

<launch>
  <arg name="world" default="$(find drive_gazebo_sim)/worlds/car_reduced.sdf"/>
  <arg name="gui" default="true"/>
  <arg name="debug" default="false"/>
  <arg name="args" default="--verbose"/>

  <param name="/use_sim_time" value="true" />

  <arg unless="$(arg debug)" name="script_type" value="gzserver"/>
  <arg if="$(arg debug)" name="script_type" value="debug"/>

  <node name="gazebo" pkg="gazebo_ros" type="$(arg script_type)" args="$(arg world) $(arg args)" respawn="false" output="screen"/>

  <!-- start gui -->
  <group if="$(arg gui)">
    <node name="gazebo_gui" pkg="gazebo_ros" type="gzclient" respawn="false" output="screen"/>
  </group>
</launch>
